---

---

<style>
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		background-color: #f1f1f1;
	}
</style>
<footer class="footer">
	<p>
		<a href="https://github.com/BunnyNabbit/voxel-telephone">Source code</a> <a href="https://ko-fi.com/bunnynabbit">Support me</a>
	</p>
</footer>
