---
import { database } from "../shared/db.mjs"
import GamePreview from "./GamePreview.astro"
import PaginationButtons from "./PaginationButtons.astro"
import { ObjectId } from "mongodb"
import { getPaginationCursors } from "../shared/pagination.mjs"

const cursor = Astro.props.cursor
const doPagination = Astro.props.pagination ?? false
const gamesPerPage = Astro.props.games ?? 5
const onlyCompleted = Astro.props.onlyCompleted ?? false
let cursorObjectId = null
if (cursor) cursorObjectId = ObjectId.createFromHexString(cursor)
const games = await database.getGames(cursorObjectId, gamesPerPage, onlyCompleted)

let nextCursor = null, previousCursor = null
if (doPagination) {
  const result = await getPaginationCursors({
    dataArray: games,
    currentCursor: cursorObjectId,
    pageSize: gamesPerPage,
    findFirstItem: (item) => Array.isArray(item) && item[0],
    buildPreviousQuery: (firstItemId) => {
      const findDocument = { depth: onlyCompleted ? 15 : 0, _id: { $gt: firstItemId } }
      return findDocument
    },
    collection: database.gameCollection
  })
  nextCursor = result.nextCursor
  previousCursor = result.previousCursor
}
---

<div class="flex-container">
  {
    games.map((game: any) => {
      return <GamePreview game={game} />
    })
  }
</div>
<PaginationButtons previousCursor={previousCursor} nextCursor={nextCursor} basePath="/games" />
