---
import { database } from "../shared/db.mjs"
import GamePreview from "./GamePreview.astro"
import { ObjectId } from "mongodb"
const cursor = Astro.props.cursor
const doPagination = Astro.props.pagination ?? false
const gamesPerPage = Astro.props.games ?? 5
const onlyCompleted = Astro.props.onlyCompleted ?? false
let nextCursor = null
const games = await database.getGames(new ObjectId(cursor), gamesPerPage, onlyCompleted)
if (doPagination && games.length == gamesPerPage) {
	nextCursor = games[games.length - 2][0]._id
	games.pop()
}
---

<div class="flex-container">
	{
		games.map((game: any) => {
			return <GamePreview game={game} />
		})
	}
</div>
{
	nextCursor && (
		<a href={`/games/${nextCursor}`} class="pagination-button">
			Next Page
		</a>
	)
}
