<nav class="flexNav">
	<a href="/" class="linkButton">Home</a>
	<a href="/games" class="linkButton">Games</a>
	<a href="/models" class="linkButton">Models</a>
	<a href="/help" class="linkButton">Help documentation</a>
	<a href="https://www.classicube.net/server/play/1209f0e99914671f9cffc14d23f543c4/?canProxy=true" class="linkButton play">Play now</a>
</nav>
<style>
	.linkButton {
		/* background-color: #00A7FF; */
		background-color: light-dark(#00A7FF, #0063e6);
		color: white;
		padding: 8px;
		border-radius: 15px;
		text-decoration: none;
		transition: background-color 0.3s ease;
		margin-right: 10px; /* Add spacing between buttons */
		text-shadow: 1px 1px 2px black;
		box-shadow: inset 0px -6px 8px 1px rgb(0 21 98 / 0.7);
	}
	.linkButton:last-child {
		margin-right: 0; /* Remove margin for the last button */
	}
	.linkButton:hover {
		background-color: #007BB8;
	}
	.flexNav {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.linkButton.play {
		background-color: #23b100;
		margin-left: auto;
		transition: background-color 0.3s ease;
		padding: 10px;
	}
	.linkButton.play:hover {
		background-color: #00ce0a;
	}
</style>