---
const licenses = Astro.props.licenses;
import licenseData from "../../../creationLicenses.mjs"
---

<div class="licenses">
	{
		licenses.map((license) => (
			<img
				src={`/license-icons/${licenseData[license].licenseData.icon}`}
				alt={licenseData[license].name}
				title={licenseData[license].name}
				class={licenseData[license].licenseData.iconClass ?? "license-icon-banner"}
			/>
		))
	}
</div>
<style>
	.license-icon-banner {
		width: 88px;
		height: 31px;
	}
	.license-icon-square {
		width: 31px;
		height: 31px;
	}
	.licenses {
		display: flex;
		gap: 8px;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>
