---
import ContentPage from "../../layouts/ContentPage.astro";
import { database } from "../../shared/db.mjs";
import GamePreview from "../../components/GamePreview.astro";
const gamesPerPage = 20;
const cursor = Astro.params.cursor;
---

<ContentPage title="Games" canon={`/games`}>
	<div class="flex-container">
		{
			database.getGames(cursor, gamesPerPage).then((games) => {
				return games.map((game: any) => {
					return <GamePreview game={game} />;
				});
			})
		}
	</div>
</ContentPage>
