---
import ContentPage from "../../layouts/ContentPage.astro";
import { database } from "../../shared/db.mjs";
import Turn from "../../components/Turn.astro";
import { ObjectId } from "mongojs";
const gameId = Astro.params.id;
let game = await database.getGame(new ObjectId(gameId));
let title;
console.log(gameId);
if (!game) {
	Astro.response.status = 404;
	game = null;
	title = "Game not found";
} else {
	title = game[0].prompt;
}
---

<ContentPage title={title}>
	<ol>
		{
			game ? (
				game
					.map((turn: any, index: number) => {
						if (turn.promptType === "description") {
							return null;
						} else {
							return (
								<li>
									<Turn description={game[index - 1]} build={turn} id={index}/>
								</li>
							);
						}
					})
					.filter((element: any) => element != null)
			) : (
				<p>No game found with that ID.</p>
			)
		}
	</ol>
</ContentPage>
